<form method="post" action='{{path('app_login')}}' id='login_form'>
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    
    <h6>Se connecter</h6>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" placeholder='jevoyage@demain.fr' name="email" id="inputEmail" autocomplete="email" autofocus>
    <label for="inputPassword">Mot de passe</label>
    <input type="password" name="password" placeholder='●●●●●●●●●●' id="inputPassword" autocomplete="current-password">

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    
    <div class="btn_container">
        <button id='btn_connexion' type="submit">Connexion</button>
    </div>
</form>
