* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.lien-nav-li:hover { 
    background: #0D6EFD; 
}  

/* body {
  font-size: .875rem;
} */

/* .feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
} */

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 3rem;
    height: calc(100vh - 48px);
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  font-size: 20px;
  color: #333;
  outline-style: none;
}

/* .sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
} */

/* .sidebar .nav-link.active {
  color: #2470dc;
} */

/* .sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
} */

/* .sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
} */

/*
 * Navbar
 */

/* .navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
} */

.navbar .navbar-toggler {
  top: .50rem;
  right: 1rem;
}

/* .navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
} */

/* .form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
} */

/* .form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
} */
/* ################################################################################# */

/* > : bouton toggle dans la nav-side-bar */
.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: 8px 15px;
  width: 100%;
  border-radius: 0;
  /* padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
  border: 0; */
}
/* .btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: #d2f4ea;
} */

.btn-toggle::after {
  width: 1.25em;
  margin-left: 5px;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgb(255, 255, 255)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::after {
  transform: rotate(90deg);
}
.btn:focus {
    outline: 0;
    box-shadow: none;
  }

/* ####################################################################################"###### */
/* mise en style des cartes du dashboard de la admin.home*/
.card-body{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-text-body{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-text-body > p{
  text-align: right;
  margin-bottom: 0;
  margin-right: 10px;
  font-size: 15px;
}
.card-text-body span{
  font-size: 40px;
  text-align: right;
  height: 100%;
}
.card-footer > a{
  text-decoration: none;
}

#admin_event_description{
  width: 25%;
  text-align: justify;
}

#admin_event_document{
  width: 25%;
  text-align: justify;
}

/* ################################################ */
/* mise en style de l image zone image dans new et edit evenement */
.img300{
  width: 300px;
}

/* ################################################ */
/* mise en style des cards anniversaire dans le dashboard */
#birthday70{
  background-color: rgba(3, 45, 124, 0.863);
}
#birthday75{
  background-color: rgb(8, 158, 218);
}
#birthday80{
  background-color: rgb(4, 160, 4);
}
#birthday85{
  background-color: rgb(255, 94, 0);
}
#birthday90{
  background-color: rgb(83, 129, 127);
}

/* ################################################ */
/* mise en style des flashes */
.flashes{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%);
  box-shadow: 0 10px 5px #626361;
  z-index: 100;
}

/* ################################################ */
/* mise en style du message date passée dans le tableau des évènements */
.DatePassee{
  background-color: rgb(255, 255, 255) !important;
  opacity: 0.4;
}


